@import "tailwindcss";

@layer components {
  .text-gradient-color {
    @apply bg-gradient-to-b from-[#30599D] to-[#589283] inline-block text-transparent bg-clip-text;
  }
  .bg-gradient-color {
    @apply bg-gradient-to-tl from-[#17223A] to-[#30599D];
  }
}

@theme {
  --color-primary-color: #ffffff;
  --color-background: #ffffff;
  --color-secondary-color: #589283;
  --color-base-color: #0a0a08;
  --color-anchor: #589283;
  --color-highlight: #797979;
  --color-input-color: #0a0a08;
  --color-error: #e53935;
  --color-success: #00c566;
  --color-warning: #facc15;
}

html,
body {
  font-family: "Noto Sans Bengali", sans-serif;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #ffb31f !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #ffffff;
  padding: 8px 12px;
  font-size: 1.2rem !important;
  background-color: #19363d;
  border-radius: 100%;
  z-index: 100;
  margin-right: 50px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: #ffffff;
  padding: 8px 12px;
  font-size: 1rem !important;
  background-color: #19363d;
  border-radius: 100%;
  z-index: 100;
  margin-left: 30px;
}

/* Media query for screens larger than 768px */
@media (max-width: 767px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    margin-right: 0px; /* Reset margin-right to 0px */
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    margin-left: 0px; /* Reset margin-left to 0px */
  }
}

.button{
  cursor: pointer;
}

button, [role="button"], [type="button"], [type="submit"] {
  cursor: pointer;
}
